{% extends 'base_bootstrap_admin.html' %} {% load static %} {% load crispy_forms_tags%} {% block head %}


<style>
    .contact_card{
        display:flex;
        flex-direction: column;
        
        width: 70vw;
        height:50vh;
        /* Border */
        border: 1px solid #2a3f54;
        border-radius: 10px;
    }
    .contact_data{
        display:flex;
        flex-direction: row;
        top:0;
        border-bottom: 1px solid #2a3f54;
        width: 100%;
        padding: 20px 25px 20px 25px;
    }
    .contact_data_left{
        margin: 0 30px 0 30px;
    }
    .contact_content{
        padding: 20px 25px 20px 25px;
    }
    .jumbotron>.container>h1{
        border-bottom: 2px solid #73879c;
    }
</style>
    
{% endblock head %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Solicitud de Contacto</h1>
        <p>Solicitudes de contacot de la pagina principal.</p>
        <div class="contact_card">
            <div class="contact_data">
                <div class="contact_data_left">
                    <p><i class="fa fa-user"></i> <b>Nombre:</b> {{contact_request.full_name}}</p>
                    <p><i class="fa fa-envelope"></i> <b>Email:</b> {{contact_request.email}}</p>
        
                </div>
                <div class="contact_data_right">
                    <p><b>Estado: </b>{{contact_request.get_status_for_template_no_icon|safe}}</p>
                    <p><b>Fecha: </b>{{contact_request.fecha}}</p>
                </div>
        
            </div>
            <div class="contact_content">
                <p>{{contact_request.message_body}}</p>
        
            </div>
        </div>
    </div>
    <br>
    <a href="{{ request.META.HTTP_REFERER }}" class='pull-right btn btn-primary'><i class="fa fa-backward"></i> Volver</a>
</div>


 



{% endblock content %}
    


{% block scripts %}
 

  <script></script>
{% endblock scripts %}