

{% extends 'base_bootstrap_admin.html' %} {% load static %} {% load crispy_forms_tags%} {% block head %}
<!-- Include page styles. -->
<link rel="stylesheet" href="{% static '/css/admin_detalle_usuario.css' %}"> 




{% endblock head %}


{% block content %}
<center>
    <h1>Perfil de Usuario</h1>
    
</center>
<hr>
<div class="alert alert_detalle_user" role="alert">
  <h3>Datos Usuario</h3>
  <hr>
  <p style="font-size: 12px; display:inline;"><i class="fa fa-edit"></i>  Registrado el: </p> {{user_profile_data.profile_user.date_joined}} <br>
  <p style="font-size: 12px; display:inline;"><i class="fa fa-envelope"></i>  Correo Electronico: </p> {{user_profile_data.profile_user.email}} <br>
  <p style="font-size: 12px; display:inline;"><i class="fa fa-smile-o"></i>  Staff: </p> {{user_profile_data.profile_user.is_staff}} <br>
  <p style="font-size: 12px; display:inline;"><i class="fa fa-tags" style="color:#FFB74D"></i>  Activo: </p>{{user_profile_data.profile_user.is_active}} <br>
  <p style="font-size: 12px; display:inline;"><i class="fa fa-leaf" style="color:#81C784"></i>  Usuario Nuevo: </p> {{user_profile_data.its_new_user|safe}} <br>
  <h3>Datos Perfil Personal</h3>
  <hr>
  Nombre: {{user_profile_data.names|default:"NO COMPLETADO"}} <br>
  Apellidos: {{user_profile_data.last_name|default:"NO COMPLETADO"}} <br>
  Nivel Educativo: {{user_profile_data.get_education_level_templates_basic|safe}} <br>
  Edad: {{user_profile_data.age|default:"NO COMPLETADO"  }} <br>
  Intereses: {{user_profile_data.interest|default:"NO COMPLETADO"  }} <br>
  <hr>

  <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-mail-reply"></i> Volver</a>
  &nbsp
  &nbsp
  &nbsp    
  <a href="{% url 'accounts_editar_perfil' pk=user_profile_data.id %}"><i class="fa fa-edit"></i> Editar Perfil</a>
  
  
 
  
</div>


{% endblock content %}
    


{% block scripts %}
  

  <script>
    $(document).ready(function () {
  
    });
  </script>
{% endblock scripts %}